.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}
@media (max-width: 400px) {
  .header {
    padding-bottom: 32px;
    margin-right: -6%;
    margin-left: -6%;
    padding-left: 27px;
  }
}
