.popup__btn {
  margin-top: 48px;
  font-size: 18px;
  line-height: 1.1;
  padding-top: 13.66px;
  padding-bottom: 18.49px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  width: 100%;
}
@media (max-width: 880px) {
  .popup__btn {
    font-size: 14px;
    line-height: 1.1;
  }
}
.popup__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
